<div class="result" data-title="{{title}}" data-semester="{{sem}}" data-audio="{{completeAudio}}" data-video="{{completeVideo}}" data-notes="{{lectureNotes}}" data-textbook="{{onlineTextbooks}}" data-exam="{{exams}}" data-url="{{href}}">
    <div class="result-contents">
        <div class="result-info-container">
            <a href="#" class="result-value-title">{{title}}</a> 
        </div>
        <div class="result-info-container">
            <a href="#" class="result-value-semester">{{sem}}</a>
        </div>
        <div class="result-category-container">
            {{#if completeAudio}}
                <a href="#" class="result-value-audio">Audio</a>
            {{else}}
                <a href="#" class="result-value-audio"></a>
            {{/if}}
        </div>
        <div class="result-category-container">
            {{#if completeVideo}}
                <a href="#" class="result-value-video">Video</a>
            {{else}}
                <a href="#" class="result-value-"></a>
            {{/if}}
        </div>
        <div class="result-category-container">
            {{#if lectureNotes}}
                <a href="#" class="result-value-notes">Notes</a>
            {{else}}
                <a href="#" class="result-value-notes"></a>
            {{/if}}
        </div>
        <div class="result-category-container">
            {{#if onlineTextbooks}}
                <a href="#" class="result-value-textbook">Textbook</a>
            {{else}}
                <a href="#" class="result-value-textbook"></a>
            {{/if}}
        </div>
        <div class="result-category-container">
            {{#if exams}}
                <a href="#" class="result-value-exam">Exam</a>
            {{else}}
                <a href="#" class="result-value-exam"></a>
            {{/if}}
        </div>
        <div class="result-info-container">
            <a href="#" class="result-value-url">{{href}}</a>
        </div>
    </div>
</div>